<% provide(:page_title, @user.username) %>
<% provide(:active_menu_item, 'Blog') %>

<div class="row">
    <div class="col-md-3 col-sm-3">               
      <div class="user-wrapper" style="outline: 1px solid #C3C3C3;">
        <% if @user.avatars[0] %>
        <%= image_tag(@user.avatars[0].url, class: "img-responsive") %>
        <% end %>
        <div class="description">
          <h4><%= @user.username %></h4>
          <h5> <strong> <%= @user.email %> </strong></h5>
          <% if @user.city %>
            <i><%= @user.city %></i>
          <%end%>
          <% if @user.bio %>
          <p><%= @user.bio %> </p>
          <%end%>
          <% if current_user == @user %>
            <span><%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-sm lgrey",
                                                                           style: "margin: 0px;" %></span>
            <span><%= link_to "New post", new_post_path, class: 'btn btn-sm lgrey'%></span>
          <% end %>
          <div class='bookmarks_dropdown hidden', style='cursor: pointer'>
            <h6 style='margin-top: 10px;'>Bookmarks
            <%= image_tag('triangle_down.png', style:'width:10px; height: 10px; margin-bottom: 2px;') %></h6>
          </div>
          <table class="hidden bookmarks table-striped">
            <% Like.where(user_id: @user).each do |like| %>
                <tr><td>
                  <%= link_to "> #{Post.find(like.post_id).title}", Post.find(like.post_id) %> by
                  <%= link_to "@#{Post.find(like.post_id).user.username}", Post.find(like.post_id).user %>
                </td></tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-9  user-wrapper">
      <div>
        <table class="table">
          <% if current_user == @user %>
            <% @author_posts.each do |post| %>
              <tr>
                <td>
                  <div class="post_title"><%= link_to post.title, post %>: <%= truncate(strip_tags(post.body), length:70, separator:' ') %></div>
                  <%= link_to "Delete", post_path(post), method: :delete,
                                                         data: {confirm: "Are you sure?"},
                                                         style: 'float: right;', class: 'btn btn-sm btn-secondary'%><%= link_to "Edit", edit_post_path(post), style: ' float: right;', class: 'btn btn-sm btn-secondary' %>
                  <% if post.hidden %>
                    <%= link_to (image_tag "icon_eye_grey.png"), edit_post_path(post), style: ' float: right; margin: 9px 10px 0 0;'%>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <% @user.posts.where(hidden: false).each do |post| %>
              <tr><td>
                <div style="float: left; margin-top:7px; font-size:17px;"><%= link_to post.title, post %>: <%= truncate(strip_tags(post.body), length:70, :separator => ' ') %></div>
              </td></tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
</div>