<% provide(:page_title, @user.username) %>
<% provide(:active_menu_item, 'Blog') %>

<div class="row">
    <div class="col-md-3 col-sm-3">               
      <div class="user-wrapper" style="outline: 1px solid #C3C3C3;">
        <%= image_tag("default_avatar.png", class: "img-responsive") %> 
        <div class="description">
          <h4><%= @user.username %></h4>
          <h5> <strong> <%= @user.email %> </strong></h5>
          <i><%= @user.city %></i>
          <p><%= @user.bio %> </p>
          <% if current_user == @user %>
            <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-primary btn-sm", style: "margin: 0px;" %>
          <% end %>
        </div>
      </div><br>
    </div>
    <div class="col-md-9 col-sm-9  user-wrapper">
      <div>
        <table class="table">
        <% @author_posts.each do |post| %>
          <tr> 
            <td> 
              <div style="float: left; margin-top:7px; font-size:17px;"><%= link_to post.title, post %>: <%= truncate(strip_tags(post.body), length:50, :separator => ' ') %></div>
              <% if current_user && current_user == @user %>
              <%= link_to "Delete", post_path(post), method: :delete,
                                                     data: {confirm: "Are you sure?"}, 
                                                     style: 'float: right;', class: 'btn btn-sm btn-outline-danger'%>
              <%= link_to "Edit", edit_post_path(post), style: ' float: right;', class: 'btn btn-sm btn-outline-warning' %>
              <% end %>
            </td> 
          </tr>
        <% end %>
        <% if current_user && current_user == @user %> 
          <tr><td><div style="margin-top:7px; font-size:16px;"><%= link_to "New post...", new_post_path, style:"color: gray;"%></div></td></tr>
        <% end %>
      </table>
      <% if current_user && current_user.is_admin? %> 
      <table class="table">
        <% Comment.where(approved: false).each do |comment| %>
          <tr>
            <td>
              <div style="float: left; margin-top:7px; font-size:17px;"><%= link_to comment.user.username, comment.user %>: <%= comment.text %></div>
              <%= link_to "Delete", post_comment_path(comment.post_id, comment), method: :delete,
                                                       data: {confirm: "Are you sure?"}, 
                                                       style: 'float: right;', class: 'btn btn-sm btn-danger'%>
                <%= link_to "Approve", post_comment_approve_path(comment.post_id, comment), style: ' float: right;', class: 'btn btn-sm btn-warning' %>
            </td>
          </tr>
        <% end %>
      </table>
      <table class="table">
        <% User.all.each do |user| %>
          <tr>
            <td>
            <div style="float: left; margin-top:7px; font-size:17px;"><%= link_to user.username, user_path %></div>
            <%= link_to "Delete", root_path, method: :delete,
                                                       data: {confirm: "Are you sure?"}, 
                                                       style: 'float: right;', class: 'btn btn-sm btn-danger'%>
            <%= link_to "Approve", root_path, style: ' float: right;', class: 'btn btn-sm btn-warning' %>
            </td>
          </tr>
        <% end %>
      </table>
      </div>
    </div>
    <% end %>
</div>