<nav class="navbar navbar-light bg-faded">
  <div class = 'container'>
    <a class='navbar-brand' href='/'>
      Senseless<span class='light'>blog</span>
    </a>
    <ul class="nav navbar-nav ove hidden-xs-down", style="flex-direction: row">
      <li class="nav-item">
        <%= link_to 'Blog', root_path, class: "nav-link #{active_link(yield(:active_menu_item), 'blog')}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', about_path, class: "nav-link #{active_link(yield(:active_menu_item), 'about')}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: "nav-link #{active_link(yield(:active_menu_item), 'contact')}" %>
      </li  class="nav-item ">
      <% if user_signed_in? %>
          <li  class="nav-item">
            <% if current_user.avatars[0]%>
              <div style="overflow:hidden; width:30px; height:30px; margin: 5px 7px 0 0; border-radius: 15px;">
              <%= image_tag(current_user.avatars[0].url(:thumb)) %></div>
            <%end%>
          </li>
          <li  class="nav-item">
            <%= link_to current_user.username, user_path(current_user.username), class: "nav-link #{active_link(yield(:active_menu_item), current_user.email )}" %>
          </li>
          <li  class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "nav-link " %>
          </li>
      <% else %>
          <li  class="nav-item index-devise-block"><%= link_to 'Login', new_user_session_path, class: "nav-link #{active_link(yield(:active_menu_item), 'login')}" %></li>
      <% end %>
    </ul>
  </div>
</nav>