<nav class="navbar navbar-light bg-faded">
  <div class = 'container'>
    <a class='navbar-brand' href='/'>
      Senseless<span class='light'>blog</span>
    </a>
    <ul class="nav navbar-nav ove hidden-xs-down">
      <li class="nav-item">
        <%= link_to 'Blog', root_path, class: "nav-link #{active_link(yield(:active_menu_item), 'blog')}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'About', about_path, class: "nav-link #{active_link(yield(:active_menu_item), 'about')}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: "nav-link #{active_link(yield(:active_menu_item), 'contact')}" %>
      </li  class="nav-item ">
      <% if user_signed_in? %>
          <li  class="nav-item"><%= link_to current_user.email, user_path(current_user.username), class: "nav-link #{active_link(yield(:active_menu_item), current_user.email )}" %></li>
          <li  class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "nav-link " %>
          </li>
      <% else %>
          <li  class="nav-item index-devise-block"><%= link_to 'Login', new_user_session_path, class: "nav-link #{active_link(yield(:active_menu_item), 'login')}" %></li>
      <% end %>
    </ul>
  </div>
</nav>